<br>
<br>

<div class="app-panel">
  <h3 class="first">Images</h3>

  <br>
  <br>

  <div class="gallery">
    <p-galleria [images]="images" panelWidth="100%" panelHeight="513" transitionInterval="15000" showCaption="true"></p-galleria>
  </div>
  <br>
  <br>

  <h3>Video</h3>
  <p-lightbox type="content">
    <a class="group" href="#">
          Watch Video
      </a>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9bZkp7q19f0" frameborder="0" allowfullscreen></iframe>
  </p-lightbox>

</div>