<div class="app-panel">
  <br>

  <div class="row">
    <div class="  "></div>
    <div class="col-md-6 col-md-offset-2 ">
      <p-galleria [images]="images" panelWidth="850" panelHeight="570" transitionInterval="15000" showCaption="true"></p-galleria>
    </div>
  </div>


  <br>

  <h3>Video</h3>
  <p-lightbox type="content">
    <a class="group" href="#">
          Watch Video
      </a>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cqxXMAwGUS8" frameborder="0" allowfullscreen></iframe>
  </p-lightbox>

</div>